# Environment variables
.env
.env.*

# Node / build
node_modules/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk
.DS_Store

# Playwright / temp
.playwright/

venv/
.venv/


data/surgepure/pdf/


# Python
__pycache__/
*.pyc


# Playwright (VERY IMPORTANT)
playwright/.cache/